---
import { Image } from "astro:assets";
import BryanPortrait from "../../assets/about/bryan-frimin.png";
import AntoinePortrait from "../../assets/about/antoine-bourchardy.png";
import YannPortrait from "../../assets/about/yann-fonkou.png";
import SachaPortrait from "../../assets/about/sacha-al-himdani.png";
import { getTranslator } from "../../lib/i18n.ts";

const __ = await getTranslator(Astro.currentLocale);

const founders = [
  {
    img: AntoinePortrait,
    alt: "Antoine Bourchardy",
    name: "Antoine Bourchardy",
    role: __("Co-founder & CEO"),
    bio: __("ISO 27001 auditor with experience in compliance assessment and implementation. Passionate about making compliance accessible and straightforward."),
  },
  {
    img: BryanPortrait,
    alt: "Bryan Frimin",
    name: "Bryan Frimin",
    role: __("Co-founder & CTO"),
    bio: __("YC alumnus and engineer who managed SOC2/ISO27001 compliance at his previous startup. Experienced in building scalable solutions for complex problems."),
  },
];

const employees = [
  {
    img: YannPortrait,
    alt: "Yann Fonkou",
    name: "Yann Fonkou",
    role: __("Compliance Officer"),
  },
  {
    img: SachaPortrait,
    alt: "Sacha Al Himdani",
    name: "Sacha Al Himdani",
    role: __("Founding Engineer"),
  },
];

const team = [...founders, ...employees];
---

<section class="container py-10 sm:py-20">
  <h2 class="text-h3 mb-10 font-medium sm:mb-20">{__("Founders")}</h2>
  <div class="flex flex-col gap-10 sm:flex-row sm:gap-20">
    {
      founders.map((f) => (
        <article class="space-y-2">
          <Image
            densities={[1, 2]}
            src={f.img}
            alt={f.alt}
            width={102}
            height={102}
            class="mb-4 rounded-lg sm:mb-8"
          />
          <h3 class="font-medium">{f.name}</h3>
          <div>{f.role}</div>
          <p class="text-lg">{f.bio}</p>
        </article>
      ))
    }
  </div>
  <hr class="my-10 sm:my-30" />

  <h2 class="text-h3 mb-10 font-medium sm:mb-20">{__("Our team")}</h2>
  <div class="grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      team.map((item) => (
        <article class="space-y-2">
          <Image
            densities={[1, 2]}
            src={item.img}
            alt={item.alt}
            width={102}
            height={102}
            class="mb-4 rounded-lg sm:mb-8"
          />
          <h3 class="font-medium">{item.name}</h3>
          <div>{item.role}</div>
        </article>
      ))
    }
  </div>
</section>
