---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import Image from "astro/components/Image.astro";
import { dynamicImages } from "../../lib/images.ts";
import Sharer from "../../components/block/Sharer.svelte";
import Newsletter from "../../components/block/Newsletter.astro";
import { random } from "../../lib/array";
import StoryCard from "../../components/StoryCard.astro";
import { filterLang } from "../../lib/i18n.ts";
type Props = {
  item: CollectionEntry<'stories'>
}
const { item } = Astro.props
const { Content } = await render(item);
const data = item.data;
const images = dynamicImages(
  import.meta.glob<{
    default: ImageMetadata;
  }>("/src/assets/stories/*.{jpeg,jpg,png,gif,svg}"),
);
const image = images(data.image);
const logo = images(data.logo);
const stories = random((await getCollection("stories", filterLang(Astro.currentLocale))).filter(s => s.id !== item.id), 3);
---

<Layout title={item.data.title} description={item.data.description} ogImage={item.data.ogImage}>
  <header class="relative flex h-115 flex-col justify-end sm:h-163">
    <Image
      src={image}
      height={652}
      layout="full-width"
      alt=""
      class="absolute inset-0 z-1 size-full object-cover"
      fetchpriority="high"
    />
    <div
      class="relative z-3 flex flex-col gap-6 p-5 sm:container sm:mb-37 sm:py-0"
    >
      <Image
        src={logo}
        height={23}
        class="invert animate-perspective-in"
        alt={`Logo ${data.company.name}`}
      />
      <h1
        class="text-h3 text-invert sm:text-h2 font-medium animate-perspective-in animation-delay-100"
      >
        {data.title}
      </h1>
    </div>
  </header>

  <div
    class="relative z-5 mx-5 mt-10 mb-6 flex grid-cols-3 flex-col gap-4 sm:container sm:my-0 sm:-mt-[50px] sm:grid sm:-translate-y-12"
  >
    {
      data.impacts.map((impact, k) => (
        <div>
          <div class="text-h4 sm:text-invert font-medium animate-perspective-in" style={`animation-delay: ${k * 100 + 200}ms`}>{impact.title}</div>
          <div class="text-muted-foreground sm:text-tertiary-foreground text-lg animate-perspective-in" style={`animation-delay: ${k * 100 + 200}ms`}>
            {impact.label}
          </div>
        </div>
      ))
    }
  </div>

  <main
    class="container flex grid-cols-[1fr_320px] flex-col gap-10 sm:my-20 sm:grid sm:gap-20 animate-slide-in animation-delay-400"
  >
    <Prose>
      <Content />
    </Prose>
    <hr class="-mr-5 sm:hidden" />
    <aside class="@container space-y-6 text-xs">
      <div class="space-y-2">
        <Sharer client:only url={Astro.url.toString()} title={data.title} class="items-start text-start" />
      </div>
      <div class="space-y-2">
        <div class="font-medium">Company name</div>
        <div class="text-muted-foreground">{data.company.name}</div>
      </div>
      <div class="space-y-2">
        <div class="font-medium">Industry</div>
        <div class="text-muted-foreground">{data.company.industry}</div>
      </div>
      <div class="space-y-2">
        <div class="font-medium">Company type</div>
        <div class="text-muted-foreground">{data.company.type}</div>
      </div>
      <div class="space-y-2 mb-10">
        <div class="font-medium">About the company</div>
        <div class="text-muted-foreground">{data.company.about}</div>
      </div>
      <Newsletter />
    </aside>
  </main>

  <div class="container mb-10 sm:mb-20">
    <hr  class="my-10 sm:my-20"/>
    <aside>
      <h2 class="text-h3 text-center sm:text-start font-medium mb-6 sm:mb-10">Explore more stories</h2>
      <div class="grid grid-cols-1 gap-10 sm:grid-cols-3 sm:gap-6">
        {stories.map(story => (
          <StoryCard story={story} size="relative"/>
        ))}
      </div>
    </aside>
  </div>

</Layout>

<style>
  header::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6.73%, #000000 100%);
  }
</style>
