---
import { Image } from "astro:assets";
import Logo from "../assets/probo-logo.svg";
import Frameworks from "./block/Frameworks.astro";
import OpenStatus from "../components/OpenStatus.svelte";
import Cookie from "../components/Cookie.svelte";
import Newsletter from "./block/Newsletter.astro";
import {Toaster} from 'svelte-sonner'
import { getLink } from "../lib/i18n.ts";

const menus = [
  {
    label: "Resources",
    items: [
      { label: "Home", href: getLink(Astro, "/") },
      { label: "Blog", href: getLink(Astro, "/blog") },
      { label: "Stories", href: getLink(Astro, "/stories") },
      { label: "GitHub", href: "https://github.com/getprobo/probo" },
    ],
  },
  {
    label: "Company",
    items: [
      { label: "About", href: getLink(Astro, "/about") },
      { label: "Brand", href: getLink(Astro, "/brand") },
      { label: "LinkedIn", href: "https://www.linkedin.com/company/getprobo" },
    ],
  },
  {
    label: "Legal",
    items: [
      { label: "Cookie Policy", href: getLink(Astro, "/cookie-policy") },
      { label: "Privacy Policy", href: getLink(Astro, "/privacy") },
      { label: "Terms of service", href: getLink(Astro, "/terms") },
      { label: "Compliance", href: "https://compliance.getprobo.com" },
      {
        label: "Subprocessors",
        href: "https://compliance.getprobo.com/subprocessors",
      },
    ],
  },
];
type Props = {
  noFrameworks?: boolean
}
---

{!Astro.props.noFrameworks && <Frameworks />}

<footer class="bg-level-0 space-y-10 py-10 sm:py-20">
  <div
    class="container flex grid-cols-[520fr_560fr] flex-col-reverse gap-8 sm:grid"
  >
    <div class="text-tertiary-foreground space-y-4 sm:max-w-[320px]">
      <a href="/" class="block">
        <Image src={Logo} alt="Logo probo" width={73} height={20} />
      </a>
      <Newsletter variant="footer" />
    </div>

    <div class="grid grid-cols-2 gap-6 text-xs sm:grid-cols-3">
      {
        menus.map((menu) => (
          <div class="space-y-3">
            <div class="mb-3 font-medium">{menu.label}</div>
            <ul class="space-y-3">
              {menu.items.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="text-tertiary-foreground text-sm hover:text-white hover:underline"
                  >
                    {item.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
  <p
    class="text-tertiary-foreground text-xxs container flex items-center gap-3"
  >
    Copyright © {new Date().getFullYear()} Probo. All rights reserved.
    <OpenStatus client:visible />
  </p>
</footer>

<Cookie client:only />

<Toaster richColors position="top-center" client:only="svelte"/>

<script>
  import { initializeFaro } from "@grafana/faro-web-sdk";

  if (import.meta.env.PROD) {
    const faro = initializeFaro({
      url: "https://faro-collector-prod-us-west-0.grafana.net/collect/bc771c773d3690b642ccf001af91958a",
      app: {
        name: "site",
        version: "1.0.0",
      },
    });
  }
</script>
