---
import type { StoryData } from "../schema.ts";
import { dynamicImages } from "../lib/images.ts";
import ResponsiveImage from "./ui/ResponsiveImage.astro";
import { Image } from "astro:assets";
import FrameworkBadge from "../components/FrameworkBadge.svelte";
import { tv } from "tailwind-variants";
import clsx from "clsx";
import { frameworks } from "../content/frameworks.ts";

interface Props {
  size?: "default" | "home" | "relative";
  story: {
    id: string;
    data: StoryData;
  };
}
const { story, size } = Astro.props;
const images = dynamicImages(
  import.meta.glob<{
    default: ImageMetadata;
  }>("/src/assets/stories/*.{jpeg,jpg,png,gif,svg}"),
);

const card = tv({
  slots: {
    base: "block overflow-hidden p-2 rounded-3xl transition-all",
    image: "w-full rounded-2xl object-cover mb-2",
    badge: "border-l border-l-[0.5px] pl-4 ml-6 sm:ml-6 sm:pl-10",
    title: "",
    body: "flex items-center",
  },
  variants: {
    size: {
      default: {
        base: 'sm:bg-highlight sm:border sm:border-[0.5px]',
        image: "aspect-320/180 sm:aspect-512/450",
        badge: "hidden sm:block mix-blend-multiply",
        title: "text-h5",
        body: "px-2 py-6  sm:p-8"
      },
      relative: {
        base: 'p-0 rounded-xl ',
        image: "aspect-320/180 sm:aspect-344/200 rounded-xl",
        badge: "hidden",
        title: "text-h5",
        body: "px-2 pt-6"
      },
      home: {
        base: "bg-highlight border border-[0.5px]",
        image: "aspect-square sm:aspect-704/450 ",
        title: "text-base sm:text-h5",
        body: "p-3 sm:p-8",
        badge: "border-l-[#EFFEE214]"
      },
    },
  },
  defaultVariants: {
    size: "default",
  },
});
const isDark = size === "home";
const framework = frameworks.find((f) => f.label === story.data.framework);
const classNames = card(Astro.props);
const imageSizes = (function (): [[number, number],[number, number]] {
  switch (Astro.props.size) {
    case "home":
      return [
        [640, 360],
        [512, 450],
      ];
    case "relative":
      return [
        [670, 400],
        [344, 200],
      ]
    default:
      return [
        [600, 600],
        [704, 450],
      ]
  }
})()
const badge = isDark ? (framework?.badgeDark ?? framework?.badge) : framework?.badge;
const shouldInvert = isDark && !framework?.badgeDark
const url = '/' + ( story.id.includes('/') ? story.id.replace('/', '/stories/') : `stories/${story.id}`)
---

<a href={url} class={classNames.base()}>
  <ResponsiveImage
    src={images(story.data.previewImage ?? story.data.image)}
    class={classNames.image()}
    mobile={imageSizes[0]}
    sm={imageSizes[1]}
    alt=""
  />
  <div class={classNames.body()}>
    <div class="w-full space-y-2">
      <Image
        src={images(story.data.logo)}
        alt=""
        class={clsx("block h-4 w-auto", isDark && "invert")}
      />
      <h3 class={classNames.title()}>{story.data.title}</h3>
    </div>
    {
      framework && (
        <div class={classNames.badge()}>
          <div class="badge flex flex-col gap-2.5 text-center">
            <FrameworkBadge
              client:only
              name={badge}
              class={ clsx("mx-auto block size-15", shouldInvert && "invert")}
            />
            <div class="text-xxs">{story.data.framework}</div>
          </div>
        </div>
      )
    }
  </div>
</a>
